/* line 1, ../../app/assets/stylesheets/competitions.css.scss */
.index {
  padding-top: 50px;
}
/* line 3, ../../app/assets/stylesheets/competitions.css.scss */
.index a {
  text-decoration: none;
  color: yellow;
  font-size: 17px;
  font-weight: bold;
}
/* line 11, ../../app/assets/stylesheets/competitions.css.scss */
.index table tr td {
  height: 25px;
  width: 120px;
  text-align: center;
}

/* line 20, ../../app/assets/stylesheets/competitions.css.scss */
.round {
  padding-top: 10px;
  padding-bottom: 50px;
}
/* line 23, ../../app/assets/stylesheets/competitions.css.scss */
.round a {
  text-decoration: none;
  color: yellow;
  font-size: 17px;
  font-weight: bold;
}
/* line 31, ../../app/assets/stylesheets/competitions.css.scss */
.round table tr td {
  height: 25px;
  width: 120px;
  text-align: center;
}

/* line 40, ../../app/assets/stylesheets/competitions.css.scss */
table.competition {
  padding-bottom: 20px;
}
/* line 42, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div10 {
  color: red;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 0px;
}
/* line 47, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div10 td.typ {
  height: 15px;
  width: 125px;
  text-align: left;
}
/* line 52, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div10 td.points {
  height: 15px;
  width: 125px;
  text-align: center;
}
/* line 58, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div11 {
  color: #C2C2C2;
  font-size: 13px;
  font-weight: bold;
}
/* line 62, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div11 td.typ {
  height: 15px;
  width: 125px;
  text-align: left;
}
/* line 67, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div11 td.points {
  height: 15px;
  width: 125px;
  text-align: center;
}
/* line 73, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div20 {
  color: red;
  font-size: 13px;
  font-weight: bold;
}
/* line 77, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div20 td.typ {
  height: 15px;
  width: 125px;
  text-align: left;
  padding-bottom: 20px;
}
/* line 83, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div20 td.points {
  height: 15px;
  width: 125px;
  text-align: center;
  padding-bottom: 20px;
}
/* line 90, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div21 {
  color: #C2C2C2;
  font-size: 13px;
  font-weight: bold;
}
/* line 94, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div21 td.typ {
  height: 15px;
  width: 125px;
  text-align: left;
  padding-bottom: 20px;
}
/* line 100, ../../app/assets/stylesheets/competitions.css.scss */
table.competition tr.div21 td.points {
  height: 15px;
  width: 125px;
  text-align: center;
  padding-bottom: 20px;
}
