/* line 1, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications {
  padding-bottom: 20px;
}
/* line 4, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr th {
  color: yellow;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  height: 25px;
}
/* line 11, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr td {
  color: #C2C2C2;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  height: 25px;
}
/* line 18, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr th#week {
  width: 70px;
}
/* line 21, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr td#week {
  width: 70px;
}
/* line 24, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr th#name {
  width: 140px;
}
/* line 27, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr td#name {
  width: 140px;
}
/* line 30, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr th#total {
  width: 110px;
}
/* line 33, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr td#total {
  width: 110px;
}
/* line 36, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr th#standings {
  width: 60px;
}
/* line 39, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr td#standings {
  width: 60px;
}
