/* line 1, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications {
  padding-bottom: 20px;
}
/* line 4, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q th {
  color: yellow;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  height: 25px;
}
/* line 11, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q th.week {
  width: 70px;
}
/* line 14, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q th.name {
  width: 140px;
}
/* line 17, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q th.total {
  width: 110px;
}
/* line 20, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q th.standings {
  width: 60px;
}
/* line 25, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q0 td {
  color: #C2C2C2;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  height: 25px;
}
/* line 32, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q0 td.week {
  width: 70px;
}
/* line 35, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q0 td.name {
  width: 140px;
}
/* line 38, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q0 td.total {
  width: 110px;
}
/* line 41, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q0 td.standings1 {
  width: 60px;
}
/* line 46, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q1 td {
  color: red;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  height: 25px;
}
/* line 53, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q1 td.week {
  width: 70px;
}
/* line 56, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q1 td.name {
  width: 140px;
}
/* line 59, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q1 td.total {
  width: 110px;
}
/* line 62, ../../app/assets/stylesheets/qualifications.css.scss */
table.qualifications tr.div_q1 td.standings1 {
  width: 60px;
}
