/* line 1, ../../app/assets/stylesheets/registrations.css.scss */
p#show {
  color: #C2C2C2;
  font-size: 13px;
  font-weight: bold;
  display: inline;
}

/* line 7, ../../app/assets/stylesheets/registrations.css.scss */
table.registrations {
  padding-bottom: 20px;
}
/* line 10, ../../app/assets/stylesheets/registrations.css.scss */
table.registrations tr th {
  height: 25px;
  width: 180px;
  color: yellow;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
/* line 18, ../../app/assets/stylesheets/registrations.css.scss */
table.registrations tr td {
  height: 25px;
  width: 180px;
  color: #C2C2C2;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

/* line 29, ../../app/assets/stylesheets/registrations.css.scss */
.new {
  text-decoration: underline;
  color: yellow;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 20px;
}

/* line 37, ../../app/assets/stylesheets/registrations.css.scss */
.form {
  padding-bottom: 20px;
}
/* line 39, ../../app/assets/stylesheets/registrations.css.scss */
.form label {
  color: #C2C2C2;
  font-size: 14px;
  font-weight: bold;
}

/* line 46, ../../app/assets/stylesheets/registrations.css.scss */
input#player_name {
  width: 150px;
  height: 17px;
  margin-left: 0px;
  margin-top: 3px;
}

/* line 52, ../../app/assets/stylesheets/registrations.css.scss */
input#player_team {
  width: 150px;
  height: 17px;
  margin-left: 0px;
  margin-top: 3px;
}

/* line 58, ../../app/assets/stylesheets/registrations.css.scss */
input#player_sex {
  width: 150px;
  height: 17px;
  margin-left: 0px;
  margin-top: 3px;
}

/* line 64, ../../app/assets/stylesheets/registrations.css.scss */
input#player_age {
  width: 150px;
  height: 17px;
  margin-left: 0px;
  margin-top: 3px;
}

/* line 71, ../../app/assets/stylesheets/registrations.css.scss */
select#player_sex {
  width: 154px;
  height: 23px;
  margin-left: 0px;
  margin-top: 3px;
}

/* line 78, ../../app/assets/stylesheets/registrations.css.scss */
input {
  width: 110px;
  height: 25px;
  text-align: left;
  margin-left: 19px;
}
