/* line 1, ../../app/assets/stylesheets/registration.css.scss */
p#show {
  color: #C2C2C2;
  font-size: 13px;
  font-weight: bold;
  display: inline;
}

/* line 7, ../../app/assets/stylesheets/registration.css.scss */
table {
  padding-bottom: 20px;
}
/* line 10, ../../app/assets/stylesheets/registration.css.scss */
table tr th {
  height: 25px;
  width: 180px;
  color: yellow;
  font-size: 15px;
  font-weight: bold;
}
/* line 17, ../../app/assets/stylesheets/registration.css.scss */
table tr td {
  height: 25px;
  width: 180px;
  color: #C2C2C2;
  font-size: 13px;
  font-weight: bold;
}

/* line 27, ../../app/assets/stylesheets/registration.css.scss */
.new {
  text-decoration: underline;
  color: yellow;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 20px;
}

/* line 35, ../../app/assets/stylesheets/registration.css.scss */
.form {
  padding-bottom: 20px;
}
/* line 37, ../../app/assets/stylesheets/registration.css.scss */
.form label {
  color: #C2C2C2;
  font-size: 14px;
  font-weight: bold;
}

/* line 44, ../../app/assets/stylesheets/registration.css.scss */
input#player_name {
  width: 150px;
  height: 17px;
  margin-left: 0px;
  margin-top: 3px;
}

/* line 50, ../../app/assets/stylesheets/registration.css.scss */
input#player_team {
  width: 150px;
  height: 17px;
  margin-left: 0px;
  margin-top: 3px;
}

/* line 56, ../../app/assets/stylesheets/registration.css.scss */
input#player_sex {
  width: 150px;
  height: 17px;
  margin-left: 0px;
  margin-top: 3px;
}

/* line 62, ../../app/assets/stylesheets/registration.css.scss */
input#player_age {
  width: 150px;
  height: 17px;
  margin-left: 0px;
  margin-top: 3px;
}

/* line 69, ../../app/assets/stylesheets/registration.css.scss */
select#player_sex {
  width: 154px;
  height: 23px;
  margin-left: 0px;
  margin-top: 3px;
}

/* line 76, ../../app/assets/stylesheets/registration.css.scss */
input {
  width: 110px;
  height: 25px;
  text-align: left;
  margin-left: 19px;
}
