<h1>Kontakty</h1>

<div class="contact">
  <h3>ICQ: </h3>
  <%= link_to "239 464 027", 'http://www.icq.com/people/239464027', :class => "communication" %>
</div>

<div class="contact">
  <h3>Skype: </h3>
  <p>BokyCZ</p>
</div>

<div class="contact">
  <h3>E-mail: </h3>
  <%= mail_to "l.boky@seznam.cz", "l.boky@seznam.cz", subject: "TM Open" ,class: "communication" %>
</div>

<div class="contact">
  <h3>Tenis Manažer: </h3>
  <%= link_to "BokyCZ", 'http://www.tenismanazer.cz/tym.php?tymID=2014', :class => "communication" %>
</div>

<div class="contact">
  <h3>Facebook: </h3>
  <%= link_to "Lukáš Bokůvka", 'http://www.facebook.com/l.boky', :class => "communication" %>
</div>
