.index{
  padding-top: 50px;
  a {
    text-decoration: none;
    color: yellow;
    font-size: 17px;
    font-weight: bold;
  }
  table {
  tr {
    td {
      height: 25px;
      width: 120px;
      text-align: center;
    }
  }
  }
}

.round {
  padding-top: 10px;
  padding-bottom: 50px;
  a {
    text-decoration: none;
    color: yellow;
    font-size: 17px;
    font-weight: bold;
  }
  table {
    tr {
      td {
        height: 25px;
        width: 120px;
        text-align: center;
      }
    }
  }
}

table.competition {
  padding-bottom: 20px;
  tr {
    td#typ11 {
      height: 15px;
      width: 125px;
      color: red;
      font-size: 13px;
      font-weight: bold;
      text-align: left;
      padding-bottom: 0px;
    }
    td#typ10 {
      height: 15px;
      width: 125px;
      color: #C2C2C2;
      font-size: 13px;
      font-weight: bold;
      text-align: left;
      padding-bottom: 0px;
    }
    td#typ00 {
      height: 15px;
      width: 125px;
      color: #C2C2C2;
      font-size: 13px;
      font-weight: bold;
      text-align: left;
      padding-bottom: 20px;
    }
    td#typ01 {
      height: 15px;
      width: 125px;
      color: red;
      font-size: 13px;
      font-weight: bold;
      text-align: left;
      padding-bottom: 20px;
    }
    td#points11 {
      height: 15px;
      width: 125px;
      color: red;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 0px;
    }
    td#points10 {
      height: 15px;
      width: 125px;
      color: #C2C2C2;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 0px;
    }
    td#points00 {
      height: 15px;
      width: 125px;
      color: #C2C2C2;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 20px;
    }
    td#points01 {
      height: 15px;
      width: 125px;
      color: red;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 20px;
    }
  }
}

