table.qualifications {
  padding-bottom: 20px;
  tr {
    th {
      color: yellow;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      height: 25px;
    }
    td {
      color: #C2C2C2;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      height: 25px;
    }
    th#week {
      width: 70px;
    }
    td#week {
      width: 70px;
    }
    th#name {
      width: 140px;
    }
    td#name {
      width: 140px;
    }
    th#total {
      width: 110px;
    }
    td#total {
      width: 110px;
    }
    th#standings {
      width: 60px;
    }
    td#standings {
      width: 60px;
    }
  }
}
