table.qualifications {
  padding-bottom: 20px;
  tr {
    th {
      color: yellow;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      height: 25px;
    }
    td {
      color: #C2C2C2;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      height: 25px;
    }
    th.week {
      width: 70px;
    }
    td.week1 {
      width: 70px;
    }
    td.week2 {
      width: 70px;
      color: red;
    }
    th.name {
      width: 140px;
    }
    td.name1 {
      width: 140px;
    }
    td.name2 {
      width: 140px;
      color: red;
    }
    th.total {
      width: 110px;
    }
    td.total1 {
      width: 110px;
    }
    td.total2 {
      width: 110px;
      color: red;
    }
    th.standings {
      width: 60px;
    }
    td.standings1 {
      width: 60px;
    }
    td.standings2 {
      width: 60px;
      color: red;
    }
  }
}
