table.qualifications {
  padding-bottom: 20px;
  tr.div_q {
    th {
      color: yellow;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      height: 25px;
    }
    th.week {
      width: 70px;
    }
    th.name {
      width: 140px;
    }
    th.total {
      width: 110px;
    }
    th.standings {
      width: 60px;
    }
  }
  tr.div_q0 {
    td {
      color: #C2C2C2;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      height: 25px;
    }
    td.week {
      width: 70px;
    }
    td.name {
      width: 140px;
    }
    td.total {
      width: 110px;
    }
    td.standings1 {
      width: 60px;
    }
  }
  tr.div_q1 {
    td {
      color: red;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      height: 25px;
    }
    td.week {
      width: 70px;
    }
    td.name {
      width: 140px;
    }
    td.total {
      width: 110px;
    }
    td.standings1 {
      width: 60px;
    }
  }
}





