<h1>Pravidla</h1>

<h2>KVALIFIKACE</h2>
<ol class="rules">
  <li id="numerical">Přihlásit se může každý</li>
  <li id="numerical">Do TM Open se přihlásite jednoduchým závazným vyplněním přihlášky</li>
  <li id="numerical">Kvalifikace bude trvat 4 týdny</li>
  <li id="numerical">Pořadí v kvalifikaci určí prostý součet ze všech týdnů</li>
  <li id="numerical">Počet postupujících</li>
  <ul class="rules">
    <li id="dotted">Pavouk pro 64 hráčů: 64</li>
    <li id="dotted">Pavouk pro 128 hráčů: 128 a méně (dle počtu nasazených => volných losů)</li>
  </ul>
</ol>
<p>V případě rovnosti bodů v kvalifikaci o postupu rozhodne <a href="http://www.tenismanazer.cz/zebricek.php">žebříček Tenis Manažéru</a>.</p>

<br>

<h2>HLAVNÍ SOUTĚŽ</h2>
<ol class="rules">
  <li id="numerical">Celkový počet kol</li>
  <ul class="rules">
    <li id="dotted">Pavouk pro 64 hráčů: 6 kol (1.kolo, 2.kolo, OF, ČF ,SF ,F)</li>
    <li id="dotted">Pavouk pro 128 hráčů: 7 kol (1.kolo, 2.kolo, 3.kolo, OF, ČF ,SF ,F)</li>
  </ul>
  <li id="numerical">Každé kolo pavouka na 5 setů</li>
  <li id="numerical">Délka trvání jednoho setu</li>
  <ul class="rules">
    <li id="dotted">Grandslamy a velké turnaje: 2 týdny</li>
    <li id="dotted">Ostatní (malé) turnaje: 1 týden</li>
  </ul>
  <li id="numerical">Postupuje ten hráč, který vyhraje 3 sety</li>
</ol>
<p>V případě rovnosti bodů v setu o zisku rozhodne <a href="/qualification">pořadí z kvalifikace</a>.</p>

<br>

<p>Proč zrovna tento nový systém hodnocení? Tento systém je objektivnější než na ostatních turnajích, dovoluje
  opravit špatný týden a vyžaduje stabilní výkony po celou reálnou tenisovou sezónu.</p>

<br>
<br>