<h1>Pravidla</h1>

<h2>KVALIFIKACE</h2>
<ol class="rules">
  <li class="numerical">Přihlásit se může každý</li>
  <li class="numerical">Do TM Open se přihlásite jednoduchým závazným vyplněním přihlášky</li>
  <li class="numerical">Kvalifikace bude trvat 4 týdny</li>
  <li class="numerical">Pořadí v kvalifikaci určí prostý součet ze všech týdnů</li>
  <li class="numerical">Postupuje 64 nejlepších</li>
</ol>
<p>V případě rovnosti bodů v kvalifikaci o postupu rozhodne  <%= link_to("žebříček Tenis Manažéru", 'http://www.tenismanazer.cz/zebricek.php') %>.</p>

<br>

<h2>HLAVNÍ SOUTĚŽ</h2>
<ol class="rules">
  <li class="numerical">Pavouk je generován náhodně (na pořadí z kvalifikace nezáleží)</li>
  <li class="numerical">Celkem 6 kol (1.kolo, 2.kolo, OF, ČF ,SF ,F)</li>
  <li class="numerical">Každé kolo pavouka na 5 setů</li>
  <li class="numerical">Délka trvání jednoho setu</li>
  <ul class="rules">
    <li class="dotted">Grandslamy a velké turnaje: 2 týdny</li>
    <li class="dotted">Ostatní (malé) turnaje: 1 týden</li>
  </ul>
  <li class="numerical">Postupuje ten hráč, který vyhraje 3 sety</li>
</ol>
<p>V případě rovnosti bodů v setu o zisku rozhodne <%= link_to("pořadí z kvalifikace", qualifications_path) %>.</p>

<br>
<br>
<br>
<br>

<p>Proč zrovna tento nový systém hodnocení? Tento systém je objektivnější než na ostatních turnajích, dovoluje
  opravit špatný týden a vyžaduje stabilní výkony po celou reálnou tenisovou sezónu.</p>

<br>
<br>
<br>